body {
    background: black;
    color: white;
}
.red {
    color: red;
    text-align: center;
}
.italicbold {
    font-style: italic;
    font-weight: bold;
}
.italicred {
    color: red;
    font-style: italic;
}
.cyan {
    color: cyan;
}
.cyanitalic {
    font-style: italic;
    color: cyan;
    font-weight: bold;
}
.red1 {
    color: red;
    text-align: center;
}
.space {
	font-size: 4;
	color: yellow; 
}